<nav class="navbar">
  <!-- Show 'Users' & 'Books' in Navbar only if the role is 'admin' -->
  <ng-container *ngIf="userRole === 'admin'">
    <a routerLink="/admin-dashboard/users" routerLinkActive="active-link" class="nav-link">Users</a>
    <a routerLink="/admin-dashboard/books" routerLinkActive="active-link" class="nav-link">Books</a>
  </ng-container>

  <!-- Show 'My Books' & 'My Borrows' only if the role is 'user' -->
  <ng-container *ngIf="userRole === 'user'">
    <a routerLink="/" routerLinkActive="active-link" class="nav-link">Books</a>
    <a routerLink="user-dashboard/myborrows" routerLinkActive="active-link" class="nav-link">My Borrows</a>
  </ng-container>

  <!-- Show Sign Up / Login if no token -->
  <ng-container *ngIf="!authService.getToken()">
    <a routerLink="/signup" routerLinkActive="active-link" class="nav-link">Sign Up</a>
    <a routerLink="/login" routerLinkActive="active-link" class="nav-link">Login</a>
  </ng-container>

  <!-- Date Format Dropdown -->
  <label>Select Date Format:</label>
  <select [(ngModel)]="selectedFormat" (change)="updateDateFormat()">
    <option value="MM/dd/yyyy">MM/DD/YYYY</option>
    <option value="dd/MM/yyyy">DD/MM/YYYY</option>
    <option value="yyyy-MM-dd">YYYY-MM-DD</option>
    <option value="MMM d, yyyy, h:mm a">MMM D, YYYY, h:mm A</option>
  </select>
  <!-- Logout Button -->
  <button (click)="logout()" *ngIf="authService.getToken()" class="logout-button">Logout</button>
</nav>
